@import "moonfly.css";

* {
    font-family: '0xProto Nerd Font Mono';
    font-size: 13px;
}

window#waybar {
    background-color: rgba(8, 8, 8, 0.8);
    color: @foreground;
}

button {
    border-radius: 0;
    border: none;
}

#backlight,
#battery,
#clock.1,
#clock.2,
#clock.3,
#cpu,
#disk,
#memory,
#network,
#pulseaudio,
#temperature,
#tray {
    background: @black-normal;
    padding: 0 10px;
}

#workspaces {
    background: @black-normal;
    color: @black-bright;
    margin: 0;
    padding: 0;
}

#workspaces button {
    background-color: transparent;
    color: inherit;
    margin: 0;
    padding: 0;
}

#workspaces button:hover {
    background: transparent;
    border: transparent;
    box-shadow: inherit;
    color: inherit;
    text-shadow: inherit;
}

#workspaces button.visible {
    color: @white-normal;
}

#workspaces button.active {
    color: @blue-bright;
}

#pulseaudio {
    color: @red-normal;
}

#pulseaudio.muted {
    color: @black-bright;
}

#network,
#network.linked {
    color: @blue-normal;
}

#network.disabled {
    color: @white-normal;
}


#network.disconnected {
    color: @black-bright;
}

#window {
    background: @blue-normal;
    color: @black-normal;
    padding: 0 10px;
}

window#waybar.empty #window {
    padding: 0;
}

/* Customs */

#custom-arrow-black-left,
#custom-arrow-black-right {
    color: @black-normal;
    font-size: 20px;
}

#custom-arrow-blue-left,
#custom-arrow-blue-right {
    color: @blue-normal;
    font-size: 20px;
}

#custom-arrow-black-blue-left,
#custom-arrow-black-blue-right {
    background: @blue-normal;
    color: @black-normal;
    font-size: 20px;
}

#custom-arrow-blue-black-left,
#custom-arrow-blue-black-right {
    background: @black-normal;
    color: @blue-normal;
    font-size: 20px;
}

#custom-power {
    background: @blue-normal;
    color: @black-normal;
    padding: 0 0 0 8px;
}
